<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">ROOSHABH<sub>HOSIERY</sub></a>
      
   
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kids">KIDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/men">MEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/women">WOMEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
          </li>

          
        </ul>
      </div>
    </div>
  </nav>
 
  <div id="bodypart">
    <router-outlet></router-outlet>
  </div>






