
 .menu_wrapper{
    background-color: white;
    padding: 15px 0;
 }

 .menu_wrapper .navbar-brand {
    width: 170px;
 }

 
 .navbar-nav .nav-link{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
 }

 .navbar-nav .nav-link:hover{
    color: rgba(0, 173, 142, 0.66);
 }

 
 /* search */
 form input.form-control{
    border: 1px solid black;

 }

 form .btn{
    background-color: black;
    color: white;
 }

 /* responsive */

 @media (max-width: 991px){
    .memu.menu_wrapper .navbar-brand {
        width: 120px;
    }
    .navbar-collapse{
        padding-top: 25px ;
    }
    .navbar-nav .nav-item{
        margin: 5px 10px;
    }

    form{
        margin: 30px 0;
    }
 }

 .dropdown-hover:hover>.dropdown-menu {
   display: inline-block;
   }
   
   .dropdown-hover>.dropdown-toggle:active {
   /*Without this, clicking will make it sticky*/
   pointer-events: none;
   }
   