<header class="menu-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <a href="/" class="navbar-brand">ROOSHABH<sub>HOSIERY</sub></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExampleOnHover"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarExampleOnHover">
        <!-- Left links -->
        <ul class="navbar-nav me-auto ps-lg-0 justify-content-center" style="padding-left: 0.15rem">
          <!-- home  -->
          <li class="nav-item dropdown dropdown-hover position-static">
            <a href="/" class="nav-link">HOME</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown dropdown-hover position-static">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside">
              MEN
            </a>
            <!-- Dropdown menu -->
            <div class="dropdown-menu w-50 mt-0 shadow" aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0;">
              <div class="container-fluid">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="list-group list-group-flush">
                      <h5>Services</h5>
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown dropdown-hover position-static">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside">
              MEN
            </a>
            <!-- Dropdown menu -->
            <div class="dropdown-menu w-50 mt-0 shadow" aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0;">
              <div class="container-fluid">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="list-group list-group-flush">
                      <h5>Services</h5>
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown dropdown-hover position-static">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside">
              MEN
            </a>
            <!-- Dropdown menu -->
            <div class="dropdown-menu w-50 mt-0 shadow" aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0;">
              <div class="container-fluid">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="list-group list-group-flush">
                      <h5>Services</h5>
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown dropdown-hover position-static">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside">
              MEN
            </a>
            <!-- Dropdown menu -->
            <div class="dropdown-menu w-50 mt-0 shadow" aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0;">
              <div class="container-fluid">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="list-group list-group-flush">
                      <h5>Services</h5>
                      <a href="" class="list-group-item list-group-item-action">1</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <h5>Services</h5>
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minus corporis, optio quia omnis voluptate ut fugiat consequuntur non harum a, odit autem facilis laborum!</a>
                      <a href="" class="list-group-item list-group-item-action">2</a>
                      <a href="" class="list-group-item list-group-item-action">3</a>
                      <a href="" class="list-group-item list-group-item-action">4</a>
                      <a href="" class="list-group-item list-group-item-action">5</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- search  -->
        <form class="d-flex ms-auto">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="search.." area-label="search">
            <button class="btn" type="submit">search</button>
          </div>
        </form>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
</header>
<div id="bodypart">
  <router-outlet></router-outlet>
</div>