<!-- tailwind for card-->
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
  
      <div class="container">
        <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
  
          <a href="#" class="group ">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="assets\image\BABY\SHORTS.webp"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">SHORTS</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://m.media-amazon.com/images/I/81x3DEs2vTL._AC_UL480_FMwebp_QL65_.jpg"
                alt="Olive drab green insulated bottle with flared screw lid and flat top."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">CAPRI</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/10930552a.webp" alt="Person using a pen to cross a task off a productivity paper card."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">T - SHIRT</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/10786393a.webp"
                alt="Olive drab green insulated bottle with flared screw lid and flat top."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">BLOOMERS</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/11378028a.webp"
                alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">NIGHT SUIT</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/11357248a.webp"
                alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">TOWEL</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/11375961a.webp"
                alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">SOCKS</h3>
          </a>
  
          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
              <img src="https://cdn.fcglcdn.com/brainbees/images/products/300x364/11415728a.webp"
                alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">THERMAL</h3>
          </a>

        </div>
      </div>
    </div>
  </div>  