<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <!-- <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/boy">BOYS WEARS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/girl">GIRL'S WEARS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/baby">BABY BOY & GIRLS</a>
          </li>
        </ul> -->


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/boy">BOYS WEARS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/girl">GIRL'S WEARS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/baby">BABY BOY & GIRLS</a>
      </li>

    </ul>
  </div>


</nav>

<router-outlet></router-outlet>